In [3]:
from pandas.io.html import read_html 
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

wikitables = read_html(page, attrs={"class":"wikitable"})

wikitables[0].head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
wikidataframe = wikitables[0]
wikidataframe = wikidataframe[wikidataframe['Borough'] != 'Not assigned']

In [5]:
# wikidataframe = wikidataframe.reset_index()
wikidataframe = wikidataframe[["Postcode", "Borough", "Neighbourhood"]]
wikidataframe.shape

(210, 3)

In [6]:
df2= wikidataframe.groupby('Postcode').agg(lambda x: ', '.join(x))
df2[df2["Neighbourhood"] == 'Not assigned']

               Borough Neighbourhood
Postcode
M7A       Queen's Park  Not assigned

In [7]:
df2.loc[df2['Neighbourhood']=="Not assigned",'Neighbourhood'] = df2.loc[df2['Neighbourhood']=="Not assigned",'Borough']

In [8]:
df2

,Borough,Neighbourhood
Postcode,,
M1B,"Scarborough, Scarborough","Rouge, Malvern"
M1C,"Scarborough, Scarborough, Scarborough","Highland Creek, Rouge Hill, Port Union"
M1E,"Scarborough, Scarborough, Scarborough","Guildwood, Morningside, West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae
...,...,...
M9N,York,Weston
M9P,Etobicoke,Westmount
M9R,"Etobicoke, Etobicoke, Etobicoke, Etobicoke","Kingsview Village, Martin Grove Gardens, Richv..."
M9V,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...","Albion Gardens, Beaumond Heights, Humbergate, ..."
M9W,Etobicoke,Northwest

In [10]:
df3 = df2.reset_index()
df3

,Postcode,Borough,Neighbourhood
0,M1B,"Scarborough, Scarborough","Rouge, Malvern"
1,M1C,"Scarborough, Scarborough, Scarborough","Highland Creek, Rouge Hill, Port Union"
2,M1E,"Scarborough, Scarborough, Scarborough","Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,"Etobicoke, Etobicoke, Etobicoke, Etobicoke","Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,"Etobicoke, Etobicoke, Etobicoke, Etobicoke, Et...","Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

Remove duplication in Borough column

In [11]:
df3['Borough']= df3['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [43]:
df3

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [44]:
df3.shape

(103, 3)